### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/
**/*.iml

# Build directories (all modules)
**/build/
**/out/
**/target/


# =========================
# Gradle
# =========================
.gradle/
**/build/

# =========================
# Maven
# =========================
**/target/

# Maven Wrapper JAR (keep these files)
!.mvn/wrapper/maven-wrapper.jar

# =========================
# Logs
# =========================
*.log
hs_err_pid*

# =========================
# Environment files
# =========================
.env
.env.*

### Kotlin ###
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
Thumbs.db